[Unit]
Description=Runs a motion detection camera
# For instructions on setting this up in a new system see below comments
# sudo cp garage.service /etc/systemd/system/garage.service
# sudo systemctl daemon-reload
# sudo systemctl enable garage.service
# sudo systemctl start garage.service
# To see logs: sudo journalctl --unit=garage
#
Requires=  watchdog.service
After=  watchdog.service

[Service]
Type=forking
PIDFile=/var/run/motion/motion.pid
ExecStart=/home/weather/weather/motion -c /home/weather/weather/config/motion.conf
ExecStartPre=/sbin/modprobe bcm2835-v4l2 max_video_width=2592 max_video_height=1944
User=root
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
