[Unit]
Description=Service for accessing pins on Pi
# For instructions on setting this up in a new system see below comments
# sudo cp garage.service /etc/systemd/system/garage.service
# sudo systemctl daemon-reload
# sudo systemctl enable garage.service
# sudo systemctl start garage.service
# To see logs: sudo journalctl --unit=garage
#
Requires=  watchdog.service
After=  watchdog.service

[Service]
Type=forking
PIDFile=/var/run/pigpio.pid
ExecStartPre=/bin/rm -f /var/run/pigpio.pid
ExecStart=/usr/local/bin/pigpiod -a1
User=root

[Install]
WantedBy=multi-user.target
